html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 1150px;
    height: 700px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-container > div {
    border: 2px solid black;
}

.bookshelf {
    grid-row: 1 / 4;
    /* overflow: auto; */
}

.form-container {
    grid-column: 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 7fr;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.form-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
}

.form-spacer {
    grid-row: 1 / 3;
    background: linear-gradient(skyblue, rgb(25, 179, 179));
}

form {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 15px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}

.add-book {
    /* display: block; */
    max-width: 120px;
    height: 30px;
    /* margin-left: 35px; */
    border-radius: 15px;
    background-color: rgb(125, 177, 210);
    color: white;
    border: none;
}

.add-book:hover {
    background-color: rgb(174, 203, 221);
}

.shelf-header {
    padding: 15px;
    padding-left: 25px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-bottom: 2px inset rgb(87, 180, 242);
}

.cards-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 642px;
    overflow: auto;
}

.book-card {
    position: relative;
    grid-column: 2 / 4;
    height: 89px;
    white-space: pre;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    border-bottom: 2px solid black;
}

.book-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    height: 100px;
    padding: 4px 0px;
    /* border: 2px solid red; */
}

.book-pic {
    height: 80px;
}

.delete-book {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    background-color: rgb(240, 92, 92);
    color: white;
    font-weight: bold;
    border: 1px solid rgb(240, 92, 92);
    border-radius: 25%;
}

.read-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(120, 215, 120);
    height: 20px;
    width: 80px;
    border: 1px solid rgb(120, 215, 120);
    border-radius: 12%;
    color: white;
}