html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 1000px;
    height: 700px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-container > div {
    border: 2px solid black;
}

.bookshelf {
    grid-row: 1 / 4;
}

.form-container {
    grid-column: 2;
    grid-row: 1 / 3;
}

form {
    padding: 15px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.add-book {
    /* display: block; */
    max-width: 100px;
}

.shelf-header {
    padding: 15px;
    padding-left: 25px;
    font-size: 20px;
    border-bottom: 2px inset blue;
}

.cards-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
}

.book-card {
    position: relative;
    grid-column: 2 / 4;
    height: 89px;
    white-space: pre;
    font-size: 15px;
    padding: 8px;
    border-bottom: 2px solid black;
}

.book-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    height: 100px;
    padding: 4px 0px;
    /* border: 2px solid red; */
}

.book-pic {
    height: 80px;
}

.delete-book {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    background-color: rgb(240, 92, 92);
    color: white;
    font-weight: bold;
    border: 1px solid rgb(240, 92, 92);
    border-radius: 25%;
}

.read-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(120, 215, 120);
    height: 20px;
    width: 50px;
    border: 1px solid rgb(120, 215, 120);
    border-radius: 12%;
    color: white;
}